#wrapped {
  text-align: center;
}

h1 {
  background: yellow;
  width: 50%;
  /* text-align: center; */
  margin: 0 auto;
}

.result {
  text-align: center;
  border: 1px solid black;
  margin: 10px auto;
}

input[type="submit"] {
  margin-top: 20px;
  height: 30px;
  width: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: large;
  border: none;
  border-radius: 20px;
}

.submitted {
  display: inline;
}
